.App {
    display: flex;
    flex-direction: column;
    width: 80vw;
    border: 1px solid #000;
    margin: 4rem auto;
}

.App .card:nth-child(4) p {
    visibility: hidden;
}

.App .card:hover p {
    visibility: visible;
}

.App .card:nth-child(8) p {
    transform: rotateX(180deg);
}

.App .card:hover:nth-child(8) p {
    transform: rotateX(0);
}

.App .card:nth-child(10) p {
    color: #fff;
}

.App .card:hover:nth-child(10) p {
    background-color: #000;
}


@media (min-width: 425px) {
    .App {
        width: 70vw;
    }
}

@media (min-width: 600px) {
    .App {
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .App {
        grid-template-columns: repeat(5, 1fr);
        width: 90vw;
    }
}
